.bgImage {
    background-image: url("/img/27230.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



:root {
    --primary-color: #001e43;
    --secondary-color: #33a125;
    --dark-color: rgb(8, 8, 8);
    --white-color: #ecf2f3;
}

body {
    color: var();
}

main>.container {
    padding: 60px 15px 0;
}

#content {
    min-height: 90vh;
}

nav {
    background-color: var(--dark-color);

}

.footer {
    background-color: var(--dark-color);
}

footer .social>a {
    color: var(--secondary-color)
}

footer .social>a:hover {
    opacity: .9;
    color: var(--secondary-color)
}

.jsicon {
    color: rgb(245, 231, 41);
}

.bsicon {
    color: purple;
}

.html5icon {
    color: rgb(251, 80, 0);
}

.css3icon {
    color: rgb(66, 129, 248);
}

.checklist>li i {
    color: var(--secondary-color)
}

.sticky-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.button {
    color: var(--secondary-color)
}